<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pet store</title>
</head>
<body>
<h2>Вітаємо на нашому сайті</h2>
<p>Кількість товару : {{ num_products }}</p>
<p>Кількість активних користувачів : {{ count_users }}</p>
<p> Кількість категорій: {{ count_categories }}</p>
</body>
</html>